.order-detail-container {
  .order-detail-content {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    .order-detail-title {
      align-self: flex-start;
    }
    .order-three-info {
      display: flex;
      flex-wrap: wrap;
      align-self: flex-start;
      gap: 2rem;
      > div {
        border: solid 0.1rem $light-bg;
        padding: 1.5rem 2rem;
      }
    }
    .order-detail-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      align-items: center;
      grid-column-gap: 1rem;
      padding-bottom: 2.5rem;
      .order-title-item {
        width: 40vw;
      }
    }
  }

  .order-delivery-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 4rem;
    .order-delivery-info {
      display: grid;
      grid-template-columns: auto auto 1fr;
      padding-top: 2rem;
      > div {
        padding: 1.5rem 2rem;
      }
    }
  }

  .order-detail-close-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
  }

  .backdrop {
    min-height: fit-content;
    overflow-y: scroll;
  }
  .white-container {
    align-self: flex-start;
    margin: 7rem 0;
  }
}
