.order-detail-container {
  z-index: 15;
  .order-detail-content-all {
    height: 97%;
    overflow-y: scroll;
    padding: 7rem 8rem;
    align-self: center;
    .order-detail-content {
      width: 75vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5rem;
      .order-detail-title {
        align-self: flex-start;
      }
      .order-three-info {
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;
        gap: 2rem;
        > div {
          border: solid 0.1rem $light-bg;
          padding: 1.5rem 2rem;
        }
      }
      .order-detail-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
        grid-column-gap: 1rem;
        padding-bottom: 2.5rem;
        .order-title-item {
          width: 40vw;
        }
      }
    }

    .order-delivery-info-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 4rem;
      .order-delivery-info {
        display: grid;
        grid-template-columns: auto auto 1fr;
        padding-top: 2rem;
        > div {
          height: fit-content;
          padding: 1.5rem 2rem;
        }
        > div:nth-child(3),
        > div:nth-child(6),
        > div:nth-child(9),
        > div:nth-child(12) {
          align-self: center;
        }
      }
    }

    .order-detail-close-buttom {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 4rem;
    }
  }

  .white-container {
    height: 85%;
    align-self: center;
    display: flex;
    padding: 0;
    margin: auto;
  }
}

@media (max-width: 900px) {
  .order-detail-container {
    .order-detail-content-all {
      padding: 5rem 4rem;
    }
  }
}

@media (max-width: 530px) {
  .order-detail-container {
    .order-detail-content-all {
      padding: 3rem 2rem;
      .order-detail-content {
        width: 85vw;
      }
    }
    .white-container {
      width: 95%;
    }
  }
}

@media (max-width: 490px) {
  .order-detail-container {
    .order-detail-content-all {
      padding: 2rem 1rem;
    }
  }
}

@media (max-width: 360px) {
  .order-detail-container {
    .order-detail-content-all {
      padding: 2rem 0.7rem;
      .order-detail-list {
        grid-column-gap: 0.5rem;
        .decoration-title {
          .decoration {
            padding: 0.3rem 0.7rem;
          }
        }
      }
    }
    .white-container {
      margin: 0 0.7rem;
    }
  }
}
