.cart-detail-all {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  grid-column-gap: 1rem;
  padding-bottom: 2.5rem;
  .cart-title-item {
    width: 32vw;
  }
}

.stock-message {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1rem;
  color: crimson;
  a {
    color: crimson;
  }
  span {
    font-weight: 700;
    text-decoration: underline;
  }
}
