.item-detail {
  display: flex;
  flex-direction: column;
  border: solid 0.1rem $primary-dark;
  padding: 7rem 8rem 4rem 8rem;
  gap: 8rem;
  .item-detail-upper {
    display: flex;
    gap: 5rem;
    .item-detail-upper-right {
      flex-grow: 1;
    }
  }
}

@media (max-width: 1250px) {
  .item-detail {
    .item-detail-upper {
      display: grid;
      grid-template-columns: 2fr 3fr;
    }
  }
}

@media (max-width: 700px) {
  .item-detail {
    padding: 5rem 0 4rem 0;
    .item-detail-upper {
      display: flex;
      flex-direction: column;
      > div {
        width: 80%;
        align-self: center;
      }
    }
  }
}

@media (max-width: 400px) {
  .item-detail {
    padding: 3rem 0 4rem 0;
    .item-detail-upper {
      > div {
        width: 90%;
      }
    }
  }
}
