.hero {
  height: 56rem;
  max-width: 1224px;
  margin: auto;
  display: flex;
  padding-top: 6rem;
  position: relative;
}

.hero-left {
  display: flex;
  flex-direction: column;
  .hero-img {
    overflow: hidden;
  }
  img {
    width: 780px;
    animation: hero-img 4s linear;
    @keyframes hero-img {
      from {
        transform: scale(1.1);
      }
      to {
        transform: scale(1);
      }
    }
  }
}

.hero-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #596e79;
  .hero-text-upper {
    width: 75%;
    display: flex;
    margin: auto;
    overflow: hidden;
    @keyframes hero-right-in {
      from {
        transform: translateX(100%);
        opacity: 0;
      }
      to {
        transform: translateX(0%);
        opacity: 1;
      }
    }
    @keyframes hero-left-out {
      from {
        transform: translateX(0%);
        opacity: 1;
      }
      to {
        transform: translateX(-100%);
        opacity: 0;
      }
    }
    .hero-reason {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      animation: hero-right-in 0.5s linear, hero-left-out 0.5s 4.5s linear;
      img {
        width: 130px;
      }
    }
    .hero-process {
      display: flex;
      flex-direction: column;
      align-items: center;
      animation: hero-right-in 0.5s linear, hero-left-out 0.5s 4.5s linear;
      .process-box {
        width: 100%;
        padding: 1rem 2rem;
        border-radius: 1rem;
        background: #596e79;
        color: white;
        text-align: center;
      }
    }
  }
  .hero-text-lower {
    display: flex;
    justify-content: center;
    gap: 5rem;
    .s-text {
      cursor: pointer;
      padding-bottom: 0.3rem;
    }
    .circle {
      animation: circle-appear 0.5s linear, circle-disappear 0.5s 4.5s linear;
      @keyframes circle-appear {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      @keyframes circle-disappear {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
    }
  }
}

.bg-box-light {
  width: 115.4rem;
  height: 41.9rem;
  position: absolute;
  top: 10rem;
  right: 0;
  background: #f0ece2;
  z-index: -1;
}
.bg-box-dark {
  width: 70.5rem;
  height: 37.5rem;
  position: absolute;
  bottom: 0;
  left: 11rem;
  background: #dfd3c3;
  z-index: -1;
}
