.main-item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, min(24rem));
  flex-wrap: wrap;
  grid-row-gap: 4rem;
}

.no-item {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

@media (max-width: 1020px) {
  .main-item-list {
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  }
}

@media (max-width: 960px) {
  .main-item-list {
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
  }
}

@media (max-width: 665px) {
  .main-item-list {
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  }
}

@media (max-width: 500px) {
  .main-item-list {
    grid-template-columns: 1fr 1fr;
  }
}
