form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  .search-input {
    width: 100%;
    input {
      width: 100%;
      padding: 0.5rem 1rem;
      color: $font-color;
      border: solid 0.1rem $primary-dark;
    }
  }
  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 960px) {
  form {
    gap: 0.5rem;
  }
}

@media (max-width: 915px) {
  form {
    justify-content: center;
    gap: 2rem;
  }
}
