.footer {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background: $primary-dark;
  color: white;
  .footer-message {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .copied {
    position: absolute;
    top: -45%;
    left: -25%;
  }
}

@media (max-width: 1200px) {
  .footer {
    .copied {
      img {
        width: 90%;
      }
    }
  }
}

@media (max-width: 850px) {
  .footer {
    .copied {
      img {
        width: 80%;
      }
    }
  }
}

@media (max-width: 380px) {
  .footer {
    .copied {
      top: -110%;
      left: -14%;
      img {
        width: 65%;
      }
    }
  }
}
