.footer {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background: $primary-dark;
  color: white;
  .footer-message {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .copied {
    position: absolute;
    top: -45%;
    left: -25%;
  }
}
