.login-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    > div {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    .id {
      display: flex;
      align-self: flex-start;
      align-items: center;
      padding-bottom: 1rem;
      gap: 1rem;
      border-bottom: solid 0.6rem $light-bg;
      input {
        width: auto;
        border: none;
        padding: 0.5rem 0;
        font-size: 1.8rem;
        color: $font-color;
        &:focus {
          outline: none;
        }
      }
    }
    .pw {
      display: flex;
      align-self: flex-start;
      align-items: center;
      padding-bottom: 1rem;
      gap: 1rem;
      border-bottom: solid 0.6rem $light-bg;
      input {
        width: auto;
        border: none;
        padding: 0.5rem 0;
        font-size: 1.8rem;
        color: $font-color;
        &:focus {
          outline: none;
        }
      }
    }
    .error-message {
      position: absolute;
      top: 115%;
      color: crimson;
    }
    .form-button {
      align-self: flex-end;
      padding-top: 2.5rem;
    }
  }
}

.login-remark {
  width: 34rem;
  color: $special-color;
}

@media (max-width: 1348px) {
  .login-content {
    form {
      .id {
        input {
          font-size: calc(1.1rem + 0.5vw);
        }
      }
      .pw {
        input {
          font-size: calc(1.1rem + 0.5vw);
        }
      }
    }
    .login-remark {
      width: calc(18rem + 10vw);
    }
  }
}

@media (max-width: 500px) {
  .white-container.login-white-container {
    padding: 5rem 6rem;
  }
}

@media (max-width: 400px) {
  .white-container.login-white-container {
    padding: 3rem 3rem;
  }
}
