//顏色
$primary-dark: #c7b198;
$primary-light: #dfd3c3;
$light-bg: #f0ece2;
$font-color: #37383c;
$special-color: #596e79;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

html {
  font-size: 62.5%;
}

body {
  background: #ffffff;
  color: $font-color;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  overflow-x: hidden;
}

a {
  color: $font-color;
  text-decoration: none;
  cursor: pointer;
}

//   .xl-text {
//     font-size: 2.6rem;
//     font-weight: 400;
//     @media (max-width: 1348px){
//       font-size: calc(1.3rem + 1vw);
//     }
//   }

.l-text {
  font-size: 2.2rem;
  font-weight: 400;
  @media (max-width: 1348px) {
    font-size: calc(1.3rem + 0.5vw);
  }
}

.m-text {
  font-size: 1.8rem;
  font-weight: 400;
  @media (max-width: 1348px) {
    font-size: calc(1.1rem + 0.5vw);
  }
  @media (max-width: 500px) {
    line-height: 160%;
    padding-bottom: 0.5rem;
  }
}

.s-text {
  font-size: 1.6rem;
  font-weight: 400;
  @media (max-width: 1348px) {
    font-size: calc(0.9rem + 0.5vw);
  }
  @media (max-width: 500px) {
    line-height: 180%;
    padding-bottom: 0.5rem;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: $primary-light;
}

.white-container {
  //width: fit-content;
  position: relative;
  background: white;
  border-radius: 1rem;
  padding: 7rem 8rem;
  .close-bg {
    position: absolute;
    top: -0.7rem;
    left: -0.7rem;
    height: 1.8rem;
    width: 1.8rem;
    background: white;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
  }
  .close {
    position: relative;
    top: -0.1rem;
    left: -0.1rem;
  }
}

.hidden {
  visibility: hidden;
}

.line {
  border-bottom: solid 0.1rem $light-bg;
}

.vertical-line {
  height: 50%;
  border-right: solid 0.1rem $light-bg;
  transform: translateX(-50%);
  align-self: center;
}

.pointer {
  cursor: pointer;
}

.carousel {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  .carousel-items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, min(22rem));
    justify-content: space-between;
  }
  .circle-arrow-left {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  .circle-arrow-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(50%, -50%);
    z-index: 2;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}

@import "./components/reusable/buttonCollection";
@import "./components/reusable/decorationTitle";
@import "./components/reusable/backdrop";
@import "./components/reusable/location";
@import "./components/reusable/emptyMessage";
@import "./pages/itemPage";
@import "./pages/cartPage";
@import "./pages/orderPage";
@import "./pages/favoritePage";
@import "./components/nav/nav";
@import "./components/hero/hero";
@import "./components/main/main";
@import "./components/main/search";
@import "./components/main/category";
@import "./components/main/itemList";
@import "./components/main/itemOne";
@import "./components/footer/footer";
@import "./components/loginOut/loginOut";
@import "./components/itemDetail/itemDetail";
@import "./components/itemDetail/itemDetailImg";
@import "./components/itemDetail/itemDetailOrder";
@import "./components/itemDetail/itemDetailInfo";
@import "./components/cart/cartDetailAll";
@import "./components/cart/cartDetailOne";
@import "./components/cart/note";
@import "./components/cart/delivery";
@import "./components/cart/orderDelivered";
@import "./components/order/orderDetailOne";
@import "./components/order/orderDetailOpen";
@import "./components/order/orderDetailOpenOne";
@import "./components/favorite/favoriteOne";
