.nav {
  background: $primary-dark;
  .nav-content {
    max-width: 1224px;
    height: 8vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo-title-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  img {
    height: 32px;
  }
  .m-text {
    font-weight: 500;
    line-height: 100%;
    color: white;
  }
}

.islogin {
  display: flex;
  align-items: center;
  gap: 7rem;
  .menu {
    display: flex;
    align-items: center;
    .s-text {
      color: white;
      font-weight: 500;
      line-height: 100%;
    }
    .menu-decoration {
      padding: 0 3rem;
    }
    span {
      padding-right: 0.8rem;
    }
  }
}
