.nav {
  width: 100%;
  position: fixed;
  top: 0;
  background: $primary-dark;
  z-index: 10;
  .nav-content {
    max-width: 1224px;
    height: 8vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.nav-hide {
  animation: nav-hide 0.3s 1 ease-in forwards;
  @keyframes nav-hide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
.nav-show {
  animation: nav-show 0.5s 1 ease-in forwards;
  @keyframes nav-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.logo-title-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  img {
    height: 32px;
  }
  .m-text {
    font-weight: 500;
    line-height: 100%;
    color: white;
  }
}

.islogin {
  display: flex;
  align-items: center;
  gap: 7rem;
  .menu {
    display: flex;
    align-items: center;
    .s-text {
      color: white;
      font-weight: 500;
      a {
        color: white;
      }
    }
    .menu-decoration {
      padding: 0 3rem;
    }
    span {
      padding-right: 0.8rem;
    }
  }
}

.test-account {
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: $special-color;
  color: white;
  opacity: 0.8;
  cursor: default;
  z-index: 10;
}

@media (max-width: 1250px) {
  .nav-content {
    width: calc(100% - 4vw);
  }
  .logo-title-box {
    img {
      height: 25px;
    }
  }
}

@media (max-width: 900px) {
  .islogin {
    .menu {
      .menu-decoration {
        padding: 0 2rem;
      }
    }
  }
}

@media (max-width: 750px) {
  .nav {
    padding: 1.5rem 0.5rem;
    .nav-content {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
  .logo-title-box {
    img {
      height: 20px;
    }
  }
  .islogin {
    gap: 4rem;
  }
}

@media (max-width: 410px) {
  .islogin {
    gap: 2rem;
    .menu {
      .menu-decoration {
        padding: 0 1rem;
      }
    }
  }
}
